@import "normalize";

html {
    font-size:10px;
}

body {
    font-family: 'Khand', sans-serif;
}

.wrapper {
    margin:0 auto;
    max-width: 900px;
}

header {
    background-image:url(../images/header-hero.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
    div {
        height:100vh;
    }
    .wrapper {
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    a {
        padding:15px 25px;
        text-decoration:none;
        color:black;
        background-color:white;
        text-transform: uppercase;
        font-size:2rem;
        letter-spacing:0.2rem;
        text-align: center;
        margin-top:200px;
        font-weight:600;
        border-radius:10px;
        box-shadow:0 0 5px black;
    }
}

h1 {
    margin:0;
    color:white;
    text-align: center;
    font-size:5rem;
    text-transform: uppercase;
    letter-spacing: 0.9rem;
}

main {
    margin-top: 50px;
}

h2 {
    font-size:4rem;
    color:black;
    text-transform: uppercase;
    letter-spacing:0.5rem;
    margin-top:0;
    margin-bottom:50px;
    text-align: center;
}

.zodiac-commentary {
    display:flex;
    margin-bottom:100px;
    flex-wrap:wrap;
    justify-content: center;
    .zodiac-image-off {
        width:60%;
    }
    img {
        width:100%;
    }
}

.love-section, .industry-section {
    background-color:rgb(231, 231, 231);
}

label {
    font-family: 'Roboto', sans-serif;
}

form {
    .basic-info {
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom:100px;
        label {
            font-size:2rem;
            padding:15px;
            font-weight:500;
        }
        input {
            font-size:1.8rem;
            width:300px;
            padding:5px 10px;
        }
    }
    .industry-question {
        display:flex;
        margin-bottom:50px;
        padding-top:50px;
        padding-bottom:50px;
        align-items: center;
        .industry-image {
            width:55%;
        }
        .question-and-answer {
            width:50%;
            padding-left:50px;  
            div:nth-of-type(n + 2) {
                padding-bottom:20px;
            }
        }
        img {
            width:90%;
        }
        label {
            font-size:2rem;
            padding-left:10px;
        }
        h3 {
            font-size:3rem;
            font-weight:600;
            width:100%;
        }
    }
    .exercise-question {
        display:flex;
        margin-bottom:50px;
        padding-top:50px;
        padding-bottom:50px;
        img {
            width:80%;
            margin-left:50px;
        }
        .exercise-image {
            width:70%;
        }
        .exercise-question-and-answer {
            width:50%;
            padding-left:50px;
            div:nth-of-type(n + 2) {
                padding-bottom:20px;
            }
        }
        label {
            font-size:2rem;
            padding-left:10px;
        }
        h3 {
            font-size:3rem;
            font-weight:600;
            width:100%;
        }
    }
    .love-question {
        display:flex;
        margin-bottom:70px;
        padding-top:50px;
        padding-bottom:50px;
        h3 {
            font-size:3rem;
            font-weight:600;
            width:100%;
        }
        img {
            width:90%;
        }
        .love-image {
            width:50%;
        }
        .love-question-and-answer {
            width:50%;
            padding-left:50px;
            div:nth-of-type(n + 2) {
                padding-bottom:20px;
            }
        }
        label {
            font-size:2rem;
            padding-left:10px;
        }
    } 
    .submit-button {
        display:flex;
        justify-content: center;
        input[type="submit"] {
            font-size:2rem;
            text-transform: uppercase;
            font-weight:600;
            padding:10px 20px;
            letter-spacing:0.2rem;
            background-color:lightgrey;
            border:1px solid lightgrey;
            border-radius: 10px;
            box-shadow: 0 0 5px black;
        }
    }   
}
.javascript-section {
    margin-top:100px;
    height:500px;
    h3 {
        font-size:3rem;
        font-weight:500;
        letter-spacing:0.5px;
    }
    span {
        text-transform: uppercase;
        color:red;
        font-size:3.5rem;
    }
    p {
        font-size:2rem;
        letter-spacing:0.3px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        line-height:1.7;
    }
}
.reset-button {
    display:flex;
    justify-content: center;
    margin-bottom:100px;
    margin-top:100px;
    a {
        text-decoration:none;
        font-size:2rem;
        text-transform: uppercase;
        font-weight:600;
        padding:10px 20px;
        letter-spacing:0.2rem;
        color:black;
        background-color:lightgrey;
        border-radius:10px;
        box-shadow: 0 0 5px black;
    }
}